<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/bootstrap.css">
    <link rel="stylesheet" href="./assets/style/all.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
    <!-- icon -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Animate -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
      <div class="container">  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#contactme">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Portfolio
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>

        </div>
        <a class="navbar-brand position-absolute top-10 start-45" href="#">Navbar</a>
      </div>
    </nav>
    
    <!-- 右側fixed sidebar -->
    <section class="position-absolute position-fixed top-15 end-0 d-none d-md-block zindex-sidebar">
      <ul class="d-flex flex-column text-secondary-dark align-items-center">
        <li>
          <a href="https://github.com/ShaniMaCC" class=" btn-hover-opacity pb-2 pe-4"><i class="fab fa-github display-3"></i></a>
        </li>
        <!-- <li>
          <a href="https://www.instagram.com/" class="btn-hover-opacity pb-2 pe-4"><i class="fab fa-instagram display-5"></i></a>
        </li>
        <li>
          <a href="https://line.me/zh-hant/" class="btn-hover-opacity pb-2 pe-4"><i class="fab fa-line display-5"></i>
          </a>
        </li> -->
      </ul>
    </section>
     

    <%- contents %>
    <!-- 右下fixed jquery : $().animate() is not a function -->
    <section class="position-absolute position-fixed bottom-0 end-0 d-lg-none zindex-sidebar">
      <a href="" class="btn-hover-opacity pe-4 jq-btn-backtotop text-info"><i class="far fa-arrow-alt-circle-up display-4"></i></a>
    </section>

    <footer class="footer bg-secondary-dark p-8" id="contactme">
      <div class="container d-lg-flex justify-content-center">
        <div class="row">
          <h4 class="offset-md-4 col-md-4 text-white fw-bold w-100 w-md-50 w-lg-60 mb-2 mb-lg-0" data-aos="animate__jello">/ Contact me</h4>
          <ul class="offset-md-4 col-md-8" data-aos="animate__fadeInLeft">
            <li class="fs-7 text-light mb-1 btn-hover-opacity ps-md-4">
              馬熙寧<span class="ms-1">Hsi-Nin Ma</span>
            </li>
            <li class="fs-7 text-light mb-1 ps-md-4">
              Phone
              <a href="tel:+886912658315" class="text-light d-inline-block btn-hover-opacity">0912658315
              </a>
            </li>
            <li class="fs-7 text-light mb-1 ps-md-4">
              Email
              <a href="mailto:ning830315@gmail.com" class="text-light d-inline-block btn-hover-opacity">ning830315@gmail.com
              </a>
            </li>
          </ul>
        </div>
        
        
      </div>
      <hr class="my-5">
      <div class="container">
        <div class="footer-link d-flex justify-content-between mb-2">
          <p class="h2 fz-24"><a href="./index.html" class="bg bg-footer-link-logo bg-contain text-replace ">LOGO</a>
          </p>
        </div>
        <ul class="footer-menu">
          <li><a href="#"  class="fs-7 text-white d-inline-block btn-hover-opacity ">Portfolio</a></li>
          <li><a href="https://github.com/ShaniMaCC"  class="fs-7 text-white d-inline-block btn-hover-opacity">Github-bySHANI</a></li>
        </ul>
        <p class="fs-7 text-md-center text-white">© 2021. All Rights Reserved.</p>
      </div>
    </footer>
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/jquery.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>