.scrollbar-light{
    overflow-x: scroll;
    
}
.scrollbar-light::-webkit-scrollbar {
    height: 5px;
    width: 10px;
    background-color: transparent;
}
.scrollbar-light::-webkit-scrollbar-thumb {
    background-color: rgba(170, 170, 170, 0.3);
    border-radius: 5px;
}
.scrollbar-light::-webkit-scrollbar-track {
        background-color: transparent;
}